.about-us__container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 0 auto;
}
.about-us__title {
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: center;
  padding: 1rem;
}
.about-us__title-span {
  font-weight: 800;
  color: var(--gold);
}
.about-us__sub-title {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
  font-size: clamp(1rem, 2vw, 1.8rem);
}
.about-us__content {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}
.about-us__content__text-wrapper {
  text-align: center;
}
.about-us__content__text-one {
  font-size: clamp(0.85rem, 1.5vw, 1.4rem);
}
.about-us__content__text-one-bold {
  font-weight: 800;
}
.about-us__content__text-two {
  font-size: clamp(0.85rem, 1.5vw, 1.4rem);
  padding-top: 1rem;
}
.about-us__content__text-two-bold {
  font-weight: 800;
}
.about-us__content__text-three {
  background-color: rgb(241, 231, 214);
  font-size: clamp(0.85rem, 2vw, 1.4rem);
  padding: 1.5rem;
  margin-top: 1rem;
}
.about-us__content__text-three-bold {
  font-size: clamp(1rem, 2vw, 3rem);
  font-weight: 800;
}
.about-us__book-image {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .about-us__content {
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .about-us__content__text-wrapper {
    text-align: left;
    max-width: 600px;
    margin-right: 2rem;
  }
  .about-us__book-image {
    width: 44%;
    height: 100%;
  }
}
